.tweet{
  border: 1px solid white;
  padding: 16px;
  color: white;
  background-color: rgb(83, 36, 62);
  text-align: center;
  width:70%;
  justify-content: center;
  align-content: center;
  margin-left: 200px;
  margin-bottom: 30px;
  border-radius: 20%;
}
.input{
  padding: 10px;
  border: 1px solid blueviolet;
   background-color: aliceblue;
   color: black;
}
.btn{
   padding: 10px;
  border: 1px solid blueviolet;
   background-color:green;
   color:white;
}